.upload-video-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.upload-video-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploaded-video-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.continue {
  display: flex;
  justify-content: center;
  align-items: center;
}
